<h3 class="center">This is an Aplication using Angular with Electron Desktop App</h3>

<div class="container flex">
   <div class="row">

    <div class="col-md-6">
      <div class="card center" id="card1" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Rgister</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a [routerLink]="['/form']" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card center" id="card2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">User Info</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a [routerLink]="['/info']" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>


   </div>
</div>